@import url(//fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);
body {
  font: 100% PT Serif, serif;
  margin: 0 auto 4em auto;
  position: relative;
  width: 960px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: white; }
  body > p {
    width: 720px; }

a {
  color: steelblue; }
  a:not(:hover) {
    text-decoration: none; }

h1, h2, h3 {
  text-rendering: optimizeLegibility; }

aside {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 180px;
  font-size: small;
  margin-top: 0.3em;
  line-height: normal; }

.eq-tag {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  padding: 0 2.67em;
  font-weight: bold;
  font-size: 1.21em;
  color: steelblue;
  text-decoration: none !important; }

.tag {
  position: absolute;
  right: 100%;
  padding: 0 0.3em;
  color: #cccccc; }

.equation {
  position: relative;
  margin: 1.33em 0; }

.inset {
  position: relative;
  overflow: hidden;
  margin: 1.5em -50%;
  padding: 0 50% 0 50%;
  border-top: 1px solid #dedede;
  background-color: #efefef;
  box-shadow: inset 0 8px 6px -6px #dedede, inset 0 -8px 6px -6px #dedede; }
  .inset > p {
    width: 720px; }
  .inset aside {
    margin-right: 25%; }
    .inset aside:first-child {
      margin-top: 1.5em; }

.expander .expander-button {
  position: absolute;
  z-index: 9999;
  transform: translate(-8.01em, -50%);
  color: #dedede; }
  .expander .expander-button .background {
    color: white; }
  .expander .expander-button:hover {
    cursor: pointer;
    color: steelblue; }
